.social-login {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 20px;
    margin-top: 20px;
    .social__btn--github {
        background-color: #24883b;
        border-radius: 5px;
    }
}
