extends base.pug
include mixins/video

block content
    if videos.length !== 0
        div.video-grid
            each video in videos 
                +videoBlock(video)
    else 
        div.empty__message No videos found.
